<div class="col-sm-6 m-auto">
{{#each ideas}}
  <div class="card card-body mb-3 video-idea">
    <h4 class="card-title">{{title}}</h4>
    <p class="card-text">{{details}}</p>
    <a class="btn mb-2 edit-btn" href="/ideas/edit/{{id}}"><i class="fas fa-edit"></i></a>
    <form class="delete-btn" action="/ideas/{{id}}?_method=DELETE" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="title" value="{{title}}">
      <button type="submit" class="btn"><i class="fas fa-trash"></i></button>
    </form>
  </div>
{{else}}
  <div class="text-center">
    <h4>Список ваших видео идей пуст</h4>
    <p>Самое время добавить очередную идею</p>
    <a href="/ideas/add" class="btn btn-primary">Добавить</a>
  </div>
{{/each}}
</div>